USE [master]
GO
/****** Object:  Database [db_a8aeca_wema]    Script Date: 02/08/2022 07:10:47 ******/
CREATE DATABASE [db_a8aeca_wema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_a8aeca_wema_Data', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_a8aeca_wema_DATA.mdf' , SIZE = 8192KB , MAXSIZE = 1024000KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'db_a8aeca_wema_Log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_a8aeca_wema_Log.LDF' , SIZE = 3072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_a8aeca_wema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_a8aeca_wema]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 02/08/2022 07:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Pasword] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Lga] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalGovernment]    Script Date: 02/08/2022 07:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalGovernment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[State_id] [bigint] NULL,
	[Name] [varchar](225) NULL,
 CONSTRAINT [PK_LocalGovernments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtpLog]    Script Date: 02/08/2022 07:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtpLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Otp] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[DateExpired] [datetime] NULL,
 CONSTRAINT [PK_OtpLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 02/08/2022 07:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](225) NULL,
 CONSTRAINT [PK_states] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [PhoneNumber], [Email], [Pasword], [State], [Lga]) VALUES (1, N'oladapo', N'oladapoobe@gmail.com', N'oladpass', N'1', N'1')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[LocalGovernment] ON 

INSERT [dbo].[LocalGovernment] ([Id], [State_id], [Name]) VALUES (1, 1, N'Aba North')
INSERT [dbo].[LocalGovernment] ([Id], [State_id], [Name]) VALUES (2, 1, N'Aba South')
INSERT [dbo].[LocalGovernment] ([Id], [State_id], [Name]) VALUES (3, 1, N'Arochukwu')
GO
SET IDENTITY_INSERT [dbo].[LocalGovernment] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([id], [name]) VALUES (1, N'Abia')
INSERT [dbo].[States] ([id], [name]) VALUES (2, N'Adamawa')
INSERT [dbo].[States] ([id], [name]) VALUES (3, N'Akwa Ibom')
SET IDENTITY_INSERT [dbo].[States] OFF
GO
USE [master]
GO
